*{
    box-sizing: border-box;
    border: none;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

menu,
ol,
ul {
    padding-left: 0;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;


    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

  .mr-auto{
    margin-right: auto;
  }


  .flex{
    display: flex;
  }

  .flex-column{
    display: flex;
    flex-direction: column;
  }

  .flex-middle{
    justify-content: center;
  }

  .max-width{
        max-width: 960px;
  }

  .margin-auto{
    margin:auto;
  }
/* end of boilerplate */

/* navbar */
#navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.nav-content{
    font-family: 'Bebas Neue', sans-serif;
    margin:auto;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    text-transform: uppercase;
}

.logo-img{
    height: 43px;
    width: 43px;
    margin-right: 8px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a{
    color: white;
    font-style: italic;
}

.small-angeles{
    font-size: 19px;
    transform: scaleY(1.2);
    color: rgb(77,77,77);
    white-space:nowrap;
}

.small-mountain{
    font-size: 21px;
    transform: translate(0, -20%) scaleY(1.3);
    color: rgb(65,79,107);
}

/*end of navbar */

/* common section code */
    .section{
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;  
    }
/* end of common section code */

/* start of first section */
    #first-section {
    background-image: url('./img/first section/back.png');
    }

    #first-section h1 {
        display:flex;
        flex-direction: column;
        font-family: 'Bebas Neue', sans-serif;

        left: 45%;
        top: 50%;
        transform: translate(-50%, -60%);
        letter-spacing: 11.4px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
    }

    .los-angeles{        
        font-size: 150px;
        transform: scaleY(1.2);
        color: rgb(77,77,77);
        white-space:nowrap;
    }

    .mountains{
        font-size: 170px;
        transform: translate(0, -20%) scaleY(1.3);
        color: rgb(65,79,107);
    }
    
    #first-section::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    content: ' ';
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('./img/first section/front.png');
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
/* end of first section */

/* start of second section */

#second-section{
    overflow: hidden;
}
#second-section::before{
    content: '';
    background-image: url('./img/second section/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: 80%;
    background-position-y: 20%;
    inset: 0;
    position: absolute;
}

.wrapper{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 10%;
    transform:translateX(-50%);
}

.number-title{
    color:rgb(65,79,107);
}

.align-bl{
    align-items: baseline;
}

.number-header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 170px;
    color:rgba(65,79,107,0.5);
}

.number-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    transform: translate(-1.8rem, -1.8rem);
}

.small-lh{
    line-height: 0.7;
}

.content-font{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

.center-space{
    width: 80%;
    margin: auto;
}

/* carousel */

#carousel-wrapper{
    background-color:rgba(65,79,107,0.75);
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.slider{
    width: 960px;
    overflow: hidden;
}

.slides{
    width: 400%;

    display: flex;
}

.slides input{
    display: none;
}

.slide{
    background-color: rgb(99,118,157);
    position: relative;
    transition: 0.5s;
}

.slide img{
    width: 234px;
}

.manual-navigation{
    position: absolute;
    width: 960px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    background-color: grey;
    padding: 3.5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.slide:not(:last-child){
    margin-right: 5px;
}

.manual-btn:hover{
    background-color: white;
}

#carousel-1:checked ~ .first{
    margin-left: 0;
}

#carousel-2:checked ~ .first{
    margin-left: -25%;
}

#carousel-3:checked ~ .first{
    margin-left: -50%;
}

#carousel-4:checked ~ .first{
    margin-left: -75%;
}

/* .carousel-buttons label:hover,
.carousel-buttons input:checked + label {
  background-color: white;
}

.carousel-buttons input {
  display: none;
} */

/* third section */

#third-section.section{
    min-height: 0;
}

#third-section .wrapper{
    position: relative;
}

.third-header {
    margin: 0 30px;
    width: fit-content;
}

.third-header .number-header{
    pointer-events: none;
    line-height: 1em;
}

.third-header-wrapper{
    display: flex;
    align-items: center;
}

#third-section .content-font{
    margin-right: 10%;
}

.mountain-navigation{
    height: 50px;
    width: 100%;
    background-color: rgb(65,79,107);
    display: flex;
    justify-content: center;
}

.mountain-ul{
    width: 100%;
}

.mountain-ul button{
    font-size: 24px;
    color:rgb(176,180,190);
    font-weight: 700;
    font-family: "Oswald";
    height: 100%;
    padding: 0 16px;
    text-decoration: underline;
    text-transform: uppercase;
}

.mountain-container{
    background-position:left top ;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.mountain-info{
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 100px;
}

.schedule{
    background-color: rgba(255, 255, 255,0.702);
    margin-left: 20px;
    width: 352px;
    height: 229px;
    padding: 20px 40px;
}

.schedule .number-title{
    transform: none;
    margin-left: 8px;
}

#mountain-1{
    background-image: url('./img/third section/Tab1.png');
}

.schedule div{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
}


/* mountain 2 */
#mountain-2{
    background-image: url('./img/third section/Tab2.png');
}

/* footer */

#footer{
    background-color: rgb(65,79,107);
    height: 74px;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
}

.footer-info{
    width: 100%;
    align-items: center;
}

.full-width{
    width: 100%;
}

footer .logo-name span{
    color: rgb(99,118,157);
}

.copyright{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
letter-spacing: 1px;
line-height: 20px;
color: rgb(99,118,157);
font-weight: 900;
font-style: italic;
font-family: "Lato";
}