*{
    box-sizing: border-box;
    border: none;
    margin: 0;
}

img {
    display: block;
}

menu,
ol,
ul {
    padding-left: 0;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

a {
    text-underline-position: under;
    text-decoration-thickness: 8;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }

  .mr-auto{
    margin-right: auto;
  }


  .flex{
    display: flex;
  }

  .flex-column{
    display: flex;
    flex-direction: column;
  }

  .flex-middle{
    justify-content: center;
  }

  .max-width{
        max-width: 60rem;
  }

  .margin-auto{
    margin:auto;
  }

  .no-underline{
    text-decoration: none;
  }
/* end of boilerplate */

/* navbar */
#navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: 0.5s;
}

.nav-content{
    font-family: 'Bebas Neue', sans-serif;
    margin:auto;
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.logo-img{
    height: 2.6875rem;
    width: 2.6875rem;
    margin-right: 1rem;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-links a{
    color: white;
    font-style: italic;
}

.small-angeles{
    font-size: 1.1875rem;
    transform: scaleY(1.2);
    color: rgb(77,77,77);
    white-space:nowrap;
}

.small-mountain{
    font-size: 1.3125rem;
    transform: translate(0, -20%) scaleY(1.3);
    color: rgb(65,79,107);
}

#nav-name{
    display: none;
}

.scrolled{
    background-color: rgb(255,255,255);
}

.scrolled ul a{
    color: rgb(65,79,107);
}

.scrolled #nav-name{
    display: flex;
}

/*end of navbar */

/* common section code */
    .section{
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;  
    }
/* end of common section code */

/* start of first section */
    #first-section {
    background-image: url('./img/first section/back.png');
    }

    #first-section h1 {
        display:flex;
        flex-direction: column;
        font-family: 'Bebas Neue', sans-serif;

        left: 45%;
        top: 50%;
        transform: translate(-50%, -60%);
        letter-spacing: 11.4px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
    }

    .los-angeles{        
        font-size: clamp(2.5rem, 12vw,9.375rem);
        transform: scaleY(1.2);
        color: rgb(77,77,77);
        white-space:nowrap;
    }

    .mountains{
        font-size: clamp(3.125rem,14vw,10.625rem);
        transform: translate(0, -20%) scaleY(1.3);
        color: rgb(65,79,107);
    }
    
    #first-section::after{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    content: ' ';
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('./img/first section/front.png');
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
/* end of first section */

/* start of second section */

#second-section{
    overflow: hidden;
}
#second-section::before{
    content: '';
    background-image: url('./img/second section/back.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: 80%;
    background-position-y: 20%;
    inset: 0;
    position: absolute;
}

.wrapper{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 10%;
    transform:translateX(-50%);
}

.number-title{
    color:rgb(65,79,107);
}

.align-bl{
    align-items: baseline;
}

.number-header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10.625rem;
    color:rgba(65,79,107,0.5);
}

.number-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    transform: translate(-1.8rem, -1.8rem);
}

.small-lh{
    line-height: 0.7;
}

.content-font{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

.center-space{
    width: 80%;
    margin: auto;
}

/* carousel */

#carousel-wrapper{
    background-color:rgba(65,79,107,0.75);
    width: 100%;
    height: 23%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.slider{
    width:100%;
    overflow: hidden;
}

.slides{
    width: 400%;

    display: flex;
}

.slides input{
    display: none;
}

.slide{
    background-color: rgb(99,118,157);
    position: relative;
    transition: 0.5s;
}

.slide img{
    width: 14.625rem;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: 0.625rem;
    display: flex;
    justify-content: center;
}

.manual-btn{
    background-color: grey;
    padding: 0.21875rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 0.625rem;
}

.slide:not(:last-child){
    margin-right: 0.375rem;
}

.manual-btn:hover{
    background-color: white;
}

#carousel-1:checked ~ .first{
    margin-left: 0;
}

#carousel-2:checked ~ .first{
    margin-left: -25%;
}

#carousel-3:checked ~ .first{
    margin-left: -50%;
}

#carousel-4:checked ~ .first{
    margin-left: -75%;
}

#carousel-5:checked ~ .first{
    margin-left: -100%;
}

#carousel-6:checked ~ .first{
    margin-left: -125%;
}

#carousel-7:checked ~ .first{
    margin-left: -150%;
}

#carousel-8:checked ~ .first{
    margin-left: -175%;
}

#carousel-9:checked ~ .first{
    margin-left: -200%;
}

#carousel-10:checked ~ .first{
    margin-left: -225%;
}

#carousel-11:checked ~ .first{
    margin-left: -250%;
}

#carousel-12:checked ~ .first{
    margin-left: -275%;
}

/* third section */

#third-section.section{
    min-height: 0;
}

#third-section .wrapper{
    position: relative;
}

.third-header {
    margin: 0 1.875rem;
    width: fit-content;
}

.third-header .number-header{
    pointer-events: none;
    line-height: 1em;
}

.third-header-wrapper{
    display: flex;
    align-items: center;
}

#third-section .content-font{
    margin-right: 10%;
}

.mountain-navigation{
    height: 3.125rem;
    width: 100%;
    background-color: rgb(65,79,107);
    display: flex;
    justify-content: center;
}

.mountain-ul{
    width: 100%;
}

.mountain-ul label{
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    color:rgb(176,180,190);
    font-weight: 700;
    font-family: "Oswald";
    height: 100%;
    padding: 0.375rem 1rem;
    text-transform: uppercase;
}

.navigation-radio{
    display: none;
}

.navigation-radio:checked + label{
    background-color: rgb(176,180,190);
    color: rgb(65,79,107);
    text-decoration: underline;
}

.mountain-container{
    background-position:left top ;
    display: none;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mountain-container.visible{
    display: block;
}

.mountain-info{
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 6.25rem;
}

.schedule{
    background-color: rgba(255, 255, 255,0.702);
    margin-left: 1.25rem;
    width: 22rem;
    height: 14.3125rem;
    padding: 1.25rem 2.5rem;
}

.schedule .number-title{
    transform: none;
    margin-left: 0.5rem;
}

#mountain-1{
    background-image: url('./img/third section/Tab1.png');
}

.schedule div{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
}


/* mountain 2 */
#mountain-2{
    background-image: url('./img/third section/Tab2.png');
}

/* footer */

#footer{
    background-color: rgb(65,79,107);
    min-height: 4.625rem;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
}

.footer-info{
    width: 100%;
    align-items: center;
}

.full-width{
    width: 100%;
}

footer .logo-name span{
    color: rgb(99,118,157);
}

.copyright{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.25rem;
    color: rgb(99,118,157);
    font-weight: 900;
    font-style: italic;
    font-family: "Lato";
}

.m-visible, .s-visible {
    display: none;
}

@media screen and (max-width:60em){
    .slider, .manual-navigation{
        max-width:30rem;
    }

    .m-visible{
        display: inline-block;
    }

    /* section 1 */
    #first-section h1 {
        transform: translate(-42%, -60%);
    }

    /* end section 1 */

    .small-lh{
        justify-content: center;
    }

    /* third-section */

    .third-header{
        margin: 0;
    }

    .third-header-wrapper{
        flex-direction: column;
    }
    #third-section .content-font{
        width: 80%;
        margin: auto;
        margin-bottom:0.625rem;
    }
    /* end second section */


}

@media screen and (max-width:34.375em){
    .slider, .manual-navigation{
        max-width:15rem;
    }

    .s-visible{
        display: inline-block;
    }

    .schedule{
        margin-left: 0;
        width: 100%;
        padding: 0.625rem;
    }

    #footer .flex{
        flex-direction: column;
        align-items: center;
    }
}